$color-green: #29a634;
$padding-top: 25px;
$padding-bottom: 30px;
$padding-top: 45px;

.weather{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction:  column;
    flex-flow: column wrap;
    color: $color-green;
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    
    
    
}

.name, .time, .text, .temp{
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    
}

.toggle{
    transform: scale(6);
    display: flex;
    flex-direction: column;
    padding-top: $padding-top;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: $padding-bottom;
}